.main{
    padding: 1.5rem 1.5rem 6rem 1.5rem;
}

.main-header{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 1.5rem;
}

.main-header__title{
    font-weight: 700;
    font-size: 1.5rem;
}

.main-header__subtitle{
    color: var(--secondary-font-color);
    font-size: 1rem;
    padding-top: 1rem;
}

.main-card__img{
    border-radius: 10rem;
    width: 4.5rem;
}

.main__day{
    font-weight: 700;
    font-size: 1rem;
    margin: 2.75rem 0 .75rem -.25rem;
}

.card-section{
    background-color: var(--primary-color);
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}

.card-section__upper{
    display: flex;
    margin-bottom: 1rem;
}

.card-section__type{
    display: flex;
}

.card-section__title{
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.card-section__icon{
    width: .9rem;
}

.card-section__subtitle{
    color: var(--secondary-font-color);
    font-size: .9rem;
    padding-left: .5rem;
}

.card-section__img {
    width: 2.5rem;
    margin-right: 1.5rem;
}

.card-section__chat{
    margin-left: auto;
    background-image: url(../assets/chat1.svg);
    background-repeat: no-repeat;
    background-color: var(--background-btn-color);
    width: 1.9rem;
    height: 1.9rem;
    background-size: .85rem;
    border-radius: 100%;
    background-position: center;
}

.main__divider{
    color: var(--secondary-font-color);
    height: 1px;
    opacity: 20%;
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
}

.card-section__time{
    font-size: .9rem;
    font-weight: 500;
    padding-bottom: .5rem;
    margin-top: 1rem;
}

.card-section__buttons{
    display: flex;
    justify-content: space-between;
}

.card-section__btn{
    border-radius: .5rem;
    padding: 1rem 1.1rem;
    font-weight: 500;
    border: none;
    background-color: transparent;
    font-family: var(--primary-font);
    font-size: .85rem;
    margin-top: .5rem;
}

.card-section__btn.video{
    background-color: var(--background-btn-color2);
    color: var(--primary-color);
}

.card-section__btn.audio{
    border: 1px solid #ECECEC;
}

.card-section__btn.adress{
    background-color: var(--blue-color);
    width: 100%;
    color: var(--primary-color);
}

@media screen and (min-width: 768px){

    .main-card__img{
        width: 8rem;
    }

    .card-section__img{
        width: 3.5rem;
    }

    .card-section__buttons{
       display: grid;
       grid-template-columns: 48% 48%;
    }

    .card-section__btn{
        padding: 1rem .25rem;
        font-size: .8rem;
    }

    .card-sections{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .75rem;
        overflow: none;
    }
}

@media screen and (min-width: 1440px){
    .main{
        padding: 2rem;
    }

    .card-sections{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
    }

    .card-section__img{
        width: 4.5rem;
    }
    
    .card-section__btn{
        margin-top: 1rem;
    }
}
