@import url(reset.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #ffffff;
    --primary-font-color: #464646;
    --secondary-font-color: #A3A3A3;
    --background-btn-color: #F6F6F6;
    --background-btn-color2: #FFB050;
    --primary-font: 'Montserrat', sans-serif;
    --blue-color: #4894FF;
}

.corpo {
    background: linear-gradient(165.96deg, #F8F4FF 0%, #EFF0F4 100%);
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    font-weight: 400;
}

@media screen and (min-width: 768px){
    html{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1440px){
    html{
        font-size: 1.5rem;
    }
}